.container {
  height: 100vh;
  &::before {
    content: '';
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    background: url('https://carloszamorano.es/img/slide2.jpg') center center / cover no-repeat transparent;
    z-index: -1;
    opacity: 0.4;
  }
}

.sidenav_container {
  display: flex;
  padding: 1rem;
  padding-top: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidenav h2 {
  padding: 1rem;
  padding-top: 5rem;
}

.item-menu {
  cursor: pointer!important;
  .mat-icon {
    vertical-align: sub;
  }
}
