<form class="form-box bg-white shadow" autocomplete="off" [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
  <h2 class="title-login">Cambio de contraseña</h2>

  <mat-form-field appearance="fill">
    <mat-label><i class="icon-lock"></i>Actual constraseña</mat-label>
    <input matInput placeholder="****" formControlName="currentpassword" type="password">
    <mat-error> Contraseña invalida </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label><i class="icon-lock"></i>Nueva constraseña</mat-label>
    <input matInput placeholder="****" formControlName="password" type="password">
    <mat-error> Contraseña Invalida </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label><i class="icon-lock"></i>Repite constraseña</mat-label>
    <input matInput placeholder="****" formControlName="rptpassword" type="password">
    <mat-error> Contraseña Invalida </mat-error>
    <!-- <mat-error> Las contraseñas no coinciden</mat-error> -->
  </mat-form-field>

  <div class="btn-box">
    <app-button [titleBtn]="'Cambiar contraseña'"></app-button>
  </div>
</form>
