.container-form {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  &::before {
    content: '';
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    position: absolute;
    background: url('https://carloszamorano.es/img/slide1.jpg') center center / cover no-repeat transparent;
    z-index: -1;
    opacity: 0.4;
  }
  .animate-container {
    padding-top: 3rem;
    height: 98vh;
    max-height: 90vh;
  }
}
